.leftbar {
  height: 85vh;
  width: 100vw;
  display: flex;
  margin-top: 15vh;
}
.leftbar-left {
  width: 18vw;
  height: 100%;
  background-color: #001529;

  color: white;
  z-index: 2;
  position: fixed;
  top: 15vh;
  left: 0;
}
.left-bar-text-container {
  min-height: 15%;
}
.leftbar-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}
.leftbar-text:hover {
  color: #a9ffa7;
}
.leftbar-child {
  margin-left: 30%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.leftbar-right {
  width: 82vw;
  padding: 10px 25px;
  padding-top: 25px;
  margin-left: 18vw;
  min-height: 100vh;
}
