.beranda-card {
  width: 32.5%;
  height: 25%;
  display: flex;
  margin: auto;
  margin-top: 20vh;
  cursor: pointer;
}
.beranda-card-left {
  width: 35%;
  height: 100%;
  background-color: #1aa361;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px 0 0 5px;
}
.beranda-card-left i {
  font-size: 4rem;
}
.beranda-card-right {
  width: 65%;
  background-color: #ebebeb;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  display: flex;
  border-radius: 0 5px 5px 0;
  flex-direction: column;
  gap: 5px;
}
.beranda-card-right i {
  color: #1aa361;
  font-size: 1.75rem;
}
.beranda-card-right p {
  text-align: center;
}

.beranda-notif {
  background-color: #a9ffa7;
  width: 100%;
  padding: 20px 20px;
  display: flex;
  gap: 10px;
  border-radius: 5px;
}
